<h2>Explore Cities</h2>

@await Html.PartialAsync("_CategoryButtons", "Amman")
@await Html.PartialAsync("_CategoryButtons", "Zarqa")
@await Html.PartialAsync("_CategoryButtons", "Maan")
@await Html.PartialAsync("_CategoryButtons", "Aqaba")





