<h1>Welcome to Amman</h1>


<a asp-action="ResturantAmman" asp-controller="Place">resturant</a>
<a asp-action="CafeesAmman">cafees</a>
<a asp-action="HotelAmman" asp-controller="Place">hotel</a>
<a asp-action="EntertainmentAmman" asp-controller="Place">Entertainment Places</a>
<a asp-action="ShoppingCentersAmman" asp-controller="Place">Shopping Centers</a>
<a asp-action="TouristPlacesAmman" asp-controller="Place">TouristPlaces</a>