@{
    ViewData["Title"] = "index";
}

<h1 style="text-align:center">@Localizer["Hello"]</h1>

<a asp-action="Amman" asp-controller="Place">amman</a>
<a asp-action="Maan" asp-controller="Place">maan</a>
<a asp-action="Aqaba" asp-controller="Place">aqaba</a>
<a asp-action="zarqa" asp-controller="Place">zarqa</a>
